#intro {
    align-items: center;
}

#intro-image {
    width: 40vw;
    object-fit: cover;
    object-position: left 20%;

    margin-right: auto;

    filter: saturate(250%);
    
    border-radius: 20px;

    box-shadow: 0px 0px 5px black;

    transition: box-shadow 0.2s;
}

#call-to-action-row {
    display: none;
    margin-bottom: auto;
    width: min-content;
}

@media (max-aspect-ratio: 5/4) {
    #intro {
        flex-direction: column;
    }

    #intro-textbox {
        width: 87.5vw;
    }

    #call-to-action-column {
        display: none;
    }

    #call-to-action-row {
        display: block;
    }

    #dynamic-intro-box {
        width: 87.5vw;
    }

    #intro-image {
        flex: 1;
        min-width: 0px;
        object-position: 15% 20%;
    }
}