.page-banner {
    container-name: banner;
    container-type: size;

    position: relative;

    width: 100vw;
    height: 30rem;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    gap: 30px;

    color: white;
    -webkit-text-stroke-color: black;
    text-wrap-mode: nowrap;
    text-shadow: 0px 0px 5px black;
}

@container banner {
    .banner-element {
        position: relative;
        top: 5cqh;
    }

    .banner-logo {
        width: min(55cqh, 25vw);
        aspect-ratio: 1;
    }

    .banner-title {
        font-size: min(15cqh, 6.5vw);
        -webkit-text-stroke-width: min(0.2cqh, 0.1vw);
    }

    .banner-subtitle {
        font-size: min(7.5cqh, 3.5vw);
        -webkit-text-stroke-width: min(0.2cqh, 0.1vw);
    }
}

/* Aspect ratio layout query */
@media (max-aspect-ratio: 14/16) {
    .page-banner {
        flex-direction: column;
        height: 25rem;
        gap: 10px;
    }

    .banner-title {
        font-size: min(15cqh, 9.5vw);
        -webkit-text-stroke-width: min(0.2cqh, 0.2vw);
    }

    .banner-subtitle {
        font-size: min(7.5cqh, 5vw);
        -webkit-text-stroke-width: min(0.2cqh, 0.2vw);
    }
}