@import url(banner.css);
@import url(site_header.css);

.row-container {
    display: flex;
}

.column-container {
    display: flex;
    flex-direction: column;
}

button {
    border-width: 2px;
    border-color: rgb(239, 214, 52);
    border-style: solid;
    border-radius: 6.7px;

    background-color: rgb(42, 42, 119);
    color: white;

    box-shadow: 0px 0px 5px black;

    font-family: LOVELO;
    font-size: 1.5rem;

    padding-inline: 1rem;
    padding-block: 0.5rem;

    cursor: pointer;

    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(11, 14, 36);

    transition: background-color 0.2s;
}

div.floating-box {
    border-width: 2px;
    border-color: rgb(239, 214, 52);
    border-style: solid;
    border-radius: 6.7px;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    box-shadow: 0px 0px 5px black;

    padding: 0.75rem;
}

h1.floating-box, h2.floating-box {
    color: rgb(239, 214, 52);
}

@media (prefers-color-scheme: dark) {
    button {
        background-color: rgb(45, 53, 98);
        color: white;
        border-color: rgb(239, 214, 52);
    }
}