@import url(fonts.css);

html {
    font-size: 18px;
}

@media (max-aspect-ratio: 9/16) {
    html {
        font-size: 16.5px;
    }
}

body {
    /* 20, 24, 24, 0.9  <-- linear-gradient */
    background-color: rgb(249, 252, 255);
    /* , url(../Images/marble.jpg) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: LOVELO;
}

h1.on-white {
    -webkit-text-stroke-width: max(1px, 0.02rem);
    -webkit-text-stroke-color: black;
}

h2.on-white {
    -webkit-text-stroke-width: max(1px, 0.015rem);
    -webkit-text-stroke-color: black;
}

p, li, label {
    font-family: Lato;
    /* color: white; */
}

label {
    /* color: white; */
    font-size: 1.25rem;
}


.yellow-text {
    color: rgb(155, 101, 0);
}

hr {
    border-color: rgb(155, 101, 0);
    width: 100%;
    max-height: 1px;
}

a {
    text-decoration: none underline;
    color: rgb(0, 93, 143);
}

.rainbow-text {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px rgb(239, 214, 52) ridge;
}

input {
    border-width: 1.5px;
    /* border-bottom-width: 2px;
    border-color: rgb(239, 214, 52); */
    border-color: rgb(135, 135, 135);
    border-style: solid;
    border-radius: 6.7px;

    background-color: rgb(213, 213, 213);
    color: black;

    font-family: Lato;
    font-size: 1rem;

    padding-block: 0.25rem;
    padding-inline: 0.5rem;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../Images/dirtygutters.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    font-style: normal;

    display: flex;
    gap: 40px;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-inline: 5rem;
}

footer a {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(26, 34, 39);
    }

    h1.on-white, h2.on-white {
        -webkit-text-stroke-width: unset;
        -webkit-text-stroke-color: unset;
    }

    p, li, label {
        font-family: Lato;
        color: white;
    }

    label {
        color: white;
        font-size: 1.25rem;
    }

    .yellow-text {
        color: rgb(239, 214, 52);
    }

    hr {
        border-color: rgb(239, 214, 52);
        width: 100%;
        max-height: 1px;
    }

    a {
        text-decoration: none underline;
        color: rgb(0, 166, 255);
    }

    input {
        background-color: rgb(79, 79, 79);
        border-color: rgb(157, 157, 157);
        color: white;
    }
}