@import url(banner.css);
@import url(site_header.css);

.center {
    display: flex;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

div.floating-box {
    border-width: 5px;
    border-color: rgb(239, 214, 52);
    border-style: solid;
    border-radius: 10px;
    
    background-color: rgb(20, 24, 50);
    color: white;

    box-shadow: 0px 0px 5px black;

    padding: 1.5rem;
}

h1.floating-box {
    color: rgb(239, 214, 52);
}

hr.floating-box {
    border-color: rgb(239, 214, 52);
}