.site-header {
    text-wrap-mode: nowrap;
    color: rgb(239, 214, 52);

    z-index: 1;

    transition: transform 0.2s, color 0.2s;
}

header.site-header {
    container-name: site-header-container;
    container-type: inline-size;

    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 95%;
    height: 4rem;

    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-inline: 1.25rem;
    padding-block: 0.5rem;

    /* background-color: rgba(20, 24, 50, 0.9); */
    background-color: rgba(0, 0, 0, 0.75);

    border-color: rgb(120, 102, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 100vmin;

    box-shadow: 0px 0px 10px black;

    backdrop-filter: blur(2mm);

    overflow-x: hidden;
}

header.site-header a {
    color: inherit;
    text-decoration: none;
}

h1.site-header, h2.site-header, img.site-header {
    cursor: pointer;
}

@container site-header-container {
    h1.site-header {
        font-size: min(2rem, 8cqw);
    }
}

h2.site-header {
    font-size: 1.25rem;
    font-family: Lato;
}

h2.site-header:hover {
    transform: scale(1.1);
    color: white;

    transition: transform 0.2s, color 0.2s;
}

img.site-header {
    width: 2rem;
    aspect-ratio: 1;

    margin-left: auto;

    filter: brightness(0) saturate(100%) invert(88%) sepia(37%) saturate(820%) hue-rotate(355deg) brightness(94%) contrast(100%);

    transition: filter 0.75s;
}

#dropdown-menu {
    /* background-color: rgba(20, 24, 50, 0.9); */
    background-color: rgba(0, 0, 0, 0.75);

    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 6.7px;

    box-shadow: 0px 0px 10px black;

    backdrop-filter: blur(2mm);

    position: fixed;
    right: 2.5%;
    top: 5rem;

    width: min-content;

    display: none;
    flex-direction: column;
    align-items: center;

    text-wrap-mode: nowrap;

    z-index: 1;
}

#dropdown-menu h2 {
    color: white;
}

#dropdown-hover-validation {
    background-color: transparent;

    position: absolute;
    width: 100%;
    height: 4.25rem;

    top: -4rem;
}

body:has(img.site-header:active) #dropdown-menu,
body:has(#dropdown-menu:hover) #dropdown-menu {
    display: flex;
}

body:has(#dropdown-menu:hover) img.site-header,
body:has(img.site-header:hover) img.site-header {
    filter: brightness(0) saturate(100%) invert(100%) sepia(14%) saturate(7499%) hue-rotate(291deg) brightness(118%) contrast(118%);
    transition: filter 0.2s;
}