@import url(fonts.css);

html {
    font-size: 18px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85)), url(../Images/marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: LOVELO;
}

p {
    font-family: Lato;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 247, 255);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px rgb(239, 214, 52) ridge;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../Images/dirtygutters.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    color: white;
    font-style: normal;

    display: flex;
    gap: 40px;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-inline: 5rem;
}

footer a {
    color: inherit;
}