@import url(fonts.css);

html {
    font-size: 18px;
}

body {
    background-image: linear-gradient(rgba(2, 9, 16, 0.85)), url(../Images/marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: LOVELO;
}

p, li {
    font-family: Lato;
    color: white;
}

.rainbow-text {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    border-color: rgb(239, 214, 52);
    width: 100%;
    max-height: 1px;
}

a {
    text-decoration: none underline;
    color: rgb(0, 166, 255);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px rgb(239, 214, 52) ridge;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(../Images/dirtygutters.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    color: white;
    font-style: normal;

    display: flex;
    gap: 40px;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-inline: 5rem;
}

footer a {
    color: inherit;
}