div#home-banner {
    margin-top: 0px;
    padding-top: 0px;
    height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35)), url(../Images/hedges.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    z-index: 0;
}

img#home-banner-logo {
    width: 15rem;
    height: 15rem;
    position: relative;
    top: 2.7rem;
}

div#home-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-wrap-mode: nowrap;
    position: relative;
    top: 2rem;
}

h1#home-banner-title {
    -webkit-text-stroke: 0.5mm black;
    font-size: 4rem;
    margin-bottom: -1rem;
}

h2#home-banner-subtitle {
    -webkit-text-stroke: 0.25mm black;
    font-size: 1.75rem;
}

div#book-button {
    color: rgb(239, 214, 52);
    background-color: rgb(10, 22, 98);
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
    bottom: 1.55rem;
    width: 12.5rem;
    height: 2.5rem;
    text-wrap-mode: nowrap;
    border: 1mm rgb(239, 214, 52) solid;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0mm 0mm 1mm black;
}

div#about-us {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5%;
}

div#about-us-textbox {
    width: 42%;
    padding-inline: 2rem;
    padding-block: 0.5rem;
}

div#about-us-slideshow {
    position: relative;
    width: 40%;
    aspect-ratio: 1.65;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-image: url(../Images/dirtygutters.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div#about-us-slide-left {
    width: 3rem;
    height: 3rem;
    left: 2%;
    border-radius: 3rem;
}

div#about-us-slide-right {
    width: 3rem;
    height: 3rem;
    right: 2%;
    border-radius: 3rem;
    transform: rotate(90);
}