div#home-banner {
    height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35)), url(../Images/hedges.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

img#home-banner-logo {
    width: 20cqw;
    aspect-ratio: 1;
    position: relative;
    top: 2.7rem;
}

div#home-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-wrap-mode: nowrap;
    position: relative;
    top: 2rem;
}

h1#home-banner-title {
    -webkit-text-stroke: 0.5mm black;
    font-size: 5cqw;
    margin-bottom: -1rem;
}

h2#home-banner-subtitle {
    -webkit-text-stroke: 0.25mm black;
    font-size: 2.25cqw;
}

div#about-us {
    gap: 7.5%;
}

div#about-us-textbox {
    width: 42%;
    padding-inline: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.75rem;
}

div#about-us-slideshow {
    width: 40%;
    aspect-ratio: 1.65;
}

div#about-us-slideshow:hover {
    width: 42%;
    transition: width 0.2s;
}

div#about-us-slide-left {
    width: 3rem;
    height: 3rem;
    left: -1.8rem;
    border-radius: 3rem;
    transition: background-color 0.2s, box-shadow 0.2s;
}

div#about-us-slide-right {
    width: 3rem;
    height: 3rem;
    right: -1.8rem;
    border-radius: 3rem;
    transform: rotate(90);
    transition: background-color 0.2s, box-shadow 0.2s;
}

body:has(div#about-us-slideshow:hover) div#about-us-slide-left, 
body:has(div#about-us-slideshow:hover) div#about-us-slide-right {
    background-color: rgba(51, 60, 122, 0.5);
    box-shadow: 0mm 0mm 5mm black;
    transition: background-color 0.2s, box-shadow 0.2s;
}

div#specials {
    position: relative;
    gap: 7.5%;
    margin-top: 2.75rem;
    margin-inline: 0px;
    padding-top: 8rem;
    padding-bottom: 3rem;
    padding-inline: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35)), url(../Images/hedges.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1mm rgb(239, 214, 52) solid;
    border-bottom: 1mm rgb(239, 214, 52) solid;
    box-shadow: 0mm 0mm 1mm black;
}

h1#specials-title {
    color: white;
    position: absolute;
    top: 0px;
    margin-top: 1rem;
    font-size: 12.5cqmin;
    -webkit-text-stroke: 0.45mm black;
    text-wrap-mode: nowrap;
}

div.special-box {
    width: 40%;
    aspect-ratio: 1.5;
    padding-top: 2rem;
    padding-inline: 2rem;
    gap: 0.2rem;
    position: relative;
    background-color: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(0.25mm);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: box-shadow 0.2s, backdrop-filter 0.2s;
}

div.special-box:hover {
    box-shadow: 0mm 0mm 5mm black;
    backdrop-filter: blur(0.75mm);
    transition: box-shadow 0.2s, backdrop-filter 0.2s;
}

img.special-img {
    width: 25cqw;
    aspect-ratio: 1.5;
    border-radius: 5mm;
    border: 1mm rgb(239, 214, 52) solid;
}

div.special-book {
    position: absolute;
    width: 40%;
    font-size: 3cqw;
    bottom: -1.55rem;
}

h1.special-header {
    color: white;
    font-size: 3cqw;
    text-wrap-mode: nowrap;
}

p.special-paragraph {
    color: white;
    position: relative;
    bottom: 1.5rem;
    font-size: 2cqw;
}