div#service-list {
    container-name: service-list-container;
    container-type: size;
    height: 25rem;
}

div#service-list-boxes {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1vw;
}

@container service-list-container {
    div#the-list {
        width: 20cqw;
        height: 75cqh;
        padding-inline: 0.5rem;
        padding-block: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        overflow: auto;
        scrollbar-color: rgb(195, 170, 10) transparent;
        scrollbar-gutter: stable;
        background-color: rgba(20, 24, 50, 0.7);
        border-color: transparent;
    }

    div.service-button {
        width: 15cqw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(10, 22, 98);
        color: rgb(239, 214, 52);
        padding-inline: 0.7rem;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    div.service-button:hover {
        background-color: rgb(20, 24, 50);
        transition: background-color 0.2s;
    }

    h2.service-button-text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    div#service-description {
        width: 50cqw;
        height: 75cqh;
        background-color: rgba(20, 24, 50, 0.7);
        padding-inline: 2rem;
        padding-block: 1.5rem;
        overflow: auto;
        scrollbar-color: rgb(195, 170, 10) transparent;
        color: white;
    }

    img.service-description-image {
        border: 1mm rgb(239, 214, 52) solid;
        border-radius: 5mm;
        width: 30cqw;
        aspect-ratio: 1.5;
    }
}